.warrper
  .lead
    =link_to root_path do
      =image_tag "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg", class: "lead__img"

 
 
 
  = form_with model: @product, local: true do |f|
    .input-field
      .input-field__contents
        .input-field__contents-image
          .input-field__contents-image__headline
            .headlabel
              %label
                出品画像
                %span.necessary
                  必須
          %p.upload
            画像がアップロードできます

        #image-box-2
          = f.fields_for :images do |i|
            .item-box
              .item-image__content--icon
                - if i.object.name.url
                  %img{src: i.object.name.url, width: "100", height: '100', "data-index": i.index }
                - else
                  %img{src: i.object.name.url, width: "100", height: '100', "data-index": i.index, style: 'display: none;' }
              .js-file_group
                = i.file_field :name, class: 'js-file sell-upload-drop-file', data:{ index: i.index }
              %span.js-remove{"data-index" => "#{i.index}"}
                削除
            = i.check_box :_destroy, { data: { index: i.index }, checked: !i.object.persisted?, class: 'fix_index'} 
            

         


          -# #image-box-2 
          -#   - @product.images.each_with_index do |image, i|
          -#     .item-image
          -#       .item-image__content
          -#         .item-image__content--icon
          -#         - if image.name.url
          -#           = image_tag image.name.url, data: { index: i }, width: "100", height: '100' 
          -#       .item-image__operetion
                
          -#         .js-file_group.fix_index
          -#         -# = f.file_field :name, class: 'js-file'
          -#         -# %br/
          -#         %span.js-remove{"data-index" => "#{i}"}
          -#           削除
          -#   .item-box.item-num-0#image-box__container
          -#     = f.fields_for :images do |i|
          -#       .new-listing__sell-upload-items-container
          -#         %label
          -#           .new-listing__sell-upload-drop-box
          -#             = i.file_field :name, class: "sell-upload-drop-file",data: {index: i.index}
          -#           - if i.object.persisted?
          -#             = i.check_box :_destroy, data: {index: i.index}, class: "hidden-destroy fix_index"
          -#             -# %i.fa.fa-camera




          -# .item-box.item-num-0#image-box__container
          -#   - @product.images.each_with_index do |image, i|
          -#     - if image.name.url
          -#       .item-image__content--icon
          -#         = image_tag image.name.url, data: { index: i }, width: "100", height: '100'
          -#     .text
          -#     = f.fields_for :images do |i|
          -#       .js-file_group.fix_index{"data-index" => "#{i.index}"}
          -#         = i.file_field :name, class: 'js-file'
          -#         %br/
          -#     %span.js-remove 削除
          -#       - if i.object.persisted?
          -#         = i.check_box :_destroy, data:{ index: i.index }, class: 'hidden-destroy fix_index' 
          -#     %label 
          -#       .new-listing__sell-upload-drop-box
              
            
            
            
            
            
          -# - if @product.persisted?
          -#   .js-file_group{"data-index" => "#{@product.images.count}"}
          -#     = file_field_tag :src, name: "product[images_attributes][#{@product.images.count}][src]", class: 'js-file'
          -#     .js-remove 削除


          -# = f.fields_for :images do |image|
          -#   %label.js-file_group3{"data-index": "#{image.index}", id: "dropArea2"}
          -#     = image.file_field :name, class: 'js-file2'
          -#     = image.hidden_field :_destroy, data:{ index: image.index }, value: 0, class: "delete_img_#{image.index}"
          -# - if @product.persisted?
          -#   .js-file_group3{"data-index": "#{@product.images.count}", style: 'display: none'}
          -#     = file_field_tag :name, name: "product[images_attributes][#{@product.images.count}][name]", class: 'js-file2', id: "img-file"




          
         
       

     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
      .input-field__contents          
        .input-field__contents-name
          .input-field__contents-image__headline
            .headlabel
              %label
                商品名
                %span.necessary
                  必須
            .name-input
              = f.text_field :name, {class: "drop-input", placeholder: "40文字まで"}
          .explain
            .input-field__contents-image__headline
              .headlabel
                %label
                商品の説明
                %span.necessary
                  必須
            = f.text_area :description, {class: "drop-input", placeholder: "40文字まで"}
          .text-counts
          .please-enter
            入力してください
      .input-field__contents
        .input-field__contents-data
          %p.subline
            商品の詳細
          .input-field__contents-image__headline
            .headlabel
              = f.label :category_id, "カテゴリー"
              %span.necessary
                必須
              .sell__about__right__wrap-box.parent
                = f.collection_select(:category_id, Category.where(ancestry: nil), :id, :name, {prompt: "---", selected: @product.category.parent.parent_id}, {id: "parent"})
              .children
                = f.collection_select(:category_id, @product.category.parent.parent.children, :id, :name, {prompt: "---", selected: @product.category.parent_id}, {id: "child"})
              .grand_children
                = f.collection_select(:category_id, @product.category.parent.children, :id, :name, {prompt: "---", selected: @product.category.id}, {id: "grand_child"})

            .please-enter
              入力してください
            .headlabel
              %label
                ブランド
                %span.any
                  任意
            .name-input
              = f.text_field :brand, class: "option-input"
            .headlabel
              %label
                商品の状態
                %span.necessary
                  必須
            .name-form
              = f.select :condition, Product.conditions_i18n.invert, {}, class: "select-input", placeholder: 0
            .please-enter
              入力してください  
    .input-field
      .input-field__contents
        .input-field__contents-delibary
        %p.delibary
          配送について
        .input-field__contents-image__headline
          .headlabel
            %label
              配送料の負担
              %span.necessary
                必須
            .name-form
              = f.select :send_price, Product.send_prices_i18n.invert, {}, class: "select-input", placeholder: 0
            .please-enter
              入力してください
            .headlabel
              %label
                発送元の地域
                %span.necessary
                  必須 
            .identification__form__field 
              .identification__form__field
                .identification__form__field--input.icon-relative
                  = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "--",class: 'input'
            .please-enter
              入力してください
            .headlabel
              %label
                発送までの日数
                %span.necessary
                  必須
            .name-form
              = f.select :ship_day, Product.ship_days_i18n.invert, {}, class: "select-input", placeholder: 0
            .please-enter
              入力してください  
    .input-field
      .input-field__contents
        .input-field__contents-price
          %p.price
            価格 
          .plice-colum
            .plice-colum__inner
              .headlabel
                %label
                  販売価格
                  %span.necessary
                    必須
              %span.maney
                ¥
              .colum-input
                = f.number_field :price, placeholder: "0", class: "colum-input__maney-inner"
            .plice-colum__inner
              .plice-colum__inner-item
            
            %hr.style-divider
            .plice-colum__inner
           
        .sell
          = f.submit "編集する", class: "sellbtn", tabindex: "0"
        
          .back
            =link_to "もどる", root_path, class: "backbtn"
        .check
          %p.check-list
            禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
    .input-field
      .new-footer
        .terms
          .terms__items
            =link_to "プライバシーポリシー", root_path, class: "terms__items__item"
          .terms__items
            = link_to "メルカリ利用規約" , root_path, class: "terms__items__item"
          .terms__items
            = link_to "特定商取引に関する表記" , root_path, class: "terms__items__item"
        .new-icon
          =link_to root_path do
            =image_tag "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg"
        %p.trademark
          © Mercari, Inc.
  